{{ define "main" }}

<main>
	<div class="content">
		<img src="/images/sigit.jpg">
		<p class="halo">Halo &#128516;, saya sigit wahyudi</p>
		<p class="sapa">
			Selamat datang di situs ini. Tulisan saya di sini belum sebaik tulisan profesional. Namun, jika menunggu sempurna saya tidak akan pernah berbagi. Saya memilih memulai. Saya yakin tulisan saya akan dibaca oleh orang dan pada saat yang tepat. Di sini kamu bisa membaca blog atau melihat project saya kedepan.
		</p>
	</div>
</main>

<!-- 
	<h1>{{ .Title }}</h1>


	<h4>daftar blog</h4>
	<ul>
		 {{ range where .Site.RegularPages "Section" "blog" }}

		 <li>
		 	<a href="{{.Permalink}}">{{.Title}}</a>
		 </li>

		 {{ end }}
	</ul>


	<h4>daftar catatan</h4>
	<ul>
		 {{ range where .Site.RegularPages "Section" "catatan" }}
		 <li>
		 	<a href="{{.Permalink}}">{{.Title}}</a>
		 </li>
		 {{ end }}
	</ul>

	<div>
		<a href="{{.Site.Params.twitter}}">Twitter</a>
	</div>
 -->

{{ end }}

