{{ define "main" }}

<main>
	<div class="content">
		<h3>{{ .Title }}</h3>

		<p>{{ .Content }}</p>

		{{ if .Params.hal }}

		{{ else }}
			<span>dibuat : {{.Date.Format "2006-01-02"}}</span>
		{{ end }}

		{{ if .Params.categories }}
			kategori :
				<a href="/categories/{{.Params.Categories }}">{{ .Params.Categories }}</a>
		{{end}}
		{{ with .Params.tags }}
		tag :
		    {{range .}}
		          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
			{{end}}

		{{ end }}



	</div>
</main>



{{ end }}