body {
	margin: 0;
	padding: 0;
	background-color: #DEDEDE;
	font-family: sans-serif;
}

header {
	width: 85%;
	margin: 0 auto;
}

header p {
	text-align: center;
}

.judul-web {
	font-family: cursive;
	font-size: 1.8em;
	margin-bottom: 2px;
}

.deskripsi {
	font-family: monospace;
	margin-top: 2px;
	font-size: 1.4em;
}

.tombol {
		display: none;
	}

nav {

	margin-top: 5px;
	min-height : 25px;
}

nav ul {
	border-radius: 20px;
	border: solid 1px #AEB5F9;
	margin: 0px auto;
	padding: 5px;
	width: 80%;
	display: flex;
	justify-content: space-around;

}

nav ul li{
	background-color: #DCC3FC;
	min-width: 15%;
	border-radius: 20px;
	border: solid 1px #F9AEC7;
	list-style: none;
	text-align: center;
}

nav ul li:hover {
	background-color: #EBC5FD;
}

nav ul li a {
	color: black;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
	color: blue;
}

main {
	margin: 20px;
	border-radius: 15px;
	background-color: #E7E5E6;
	border: solid black 1.4px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	box-shadow: 2px 2px 2px grey;

}
.text-tengah {
	text-align: center;
}


.content {
	min-height: 375px;
	width: 90%;
	padding: 5px;
	margin: 0 auto;
	

}

.content img {
	margin: 0 auto;
	margin-top: 7px; 
	width: 100px;
	border-radius: 75px;
	display: block; /* karena defaulnya inline mesit diubah ke block baru bisa margin auto */
	align-items: center;
	box-shadow: 0px 5px 10px #e51e63;

}

.content .halo {
	text-align: center;
	margin-top: 4px;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #FB9C9C;
}

.content .sapa{
	text-align: justify;
	font-size: 1.1em;
}

.content .judul-post {
	text-decoration: underline;
}

.content .isi{
	font-size: 0.9em;
}

.content .terbit{
	font-size: 0.6em;
}

.content p a {
	color: black;
}

.list-post a {
	display: block;
	margin-bottom: 4px;
	color : #545151;
	
}

form.kontak {
	margin : 0 auto;
}


.kontak div {
	margin : 10px 0;
	
}

.kontak label {
	display: inline-block;
	width : 175px;
}

.kontak input[type=text] {
	width: 68%;
	padding: 10px;
	font-family: monospace;
	
}

.kontak input[type=text]:focus {
  border: 3px solid #A883F4;
}

.kontak textarea {
	width: 70%;
	padding: 10px;
}

.kontak button {
	display: block;
	margin : 0 auto;
	background-color: #6CF690;
	padding: 5px;
	border-radius: 20px;
}	


footer p {
	font-size: 1.1em;
	text-align: center; 
}

@media screen and (max-width: 480px) { 

	header {
		font-size: 0.8em;
	}

	.tombol {
		display: block;
		width: 250px;
		margin: 0 auto;
		padding: 4px;
		background-color: #F7D9FE;
		border-radius : 23px;
	}

	.tombol span {
		font-size: 1.2em;
		font-family: monospace;
		color: #2F3632;
	}



	.menu-tampil{
			left: 0 !important;
		}

	nav {
		width: 250px;
		position: fixed;
		left: -1000px;
	}

	nav ul {
		flex-direction: column;
	}

	nav ul li {
		padding: 4px;
		margin-bottom: 3px;
		font-size: 0.8em;
	}
	.content {
	min-height: 250px;
	font-size: 0.8em; }

	.content img{
		width: 75px;
	}

	.kontak label {
		font-size: 0.8em;
	}


	.kontak input[type=text] {
	width: 75%;
	}

	.kontak textarea {
		width: 80%;
	} 
	

	.kontak button {
	font-size: 0.8em;
	}

	footer {
		font-size: 0.8em;
	}	
	

}