<footer>
	<p>&copy;
	 	<a style="color: black;" href="mailto:wahyudi.sigit@gmail.com">esweisme</a> 2019. 
		<a style="color: black;" href="http://statcounter.com/p12099639/summary/?guest=1">stats</a>
		<a style="color: black;" href="#">rss</a>
		<br>
		Apa yang dari &#128151; akan sampai ke &#128151;.
	</p>
</footer>

	<script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
	<!-- Default Statcounter code for web sigit
	https://sigitwahyudi.netlify.app/ -->
	<script type="text/javascript">
		var sc_project=12099639; 
		var sc_invisible=1; 
		var sc_security="d3fe7165"; 
	</script>
	<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"	async></script>
		
	<noscript>
		<div class="statcounter">
			<a title="Web Analytics	Made Easy - StatCounter" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12099639/0/d3fe7165/1/" alt="Web Analytics Made Easy - StatCounter"></a>
		</div>
	</noscript>
		<!-- End of Statcounter Code -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('.tombol').click(function(){
				$('nav').toggleClass("menu-tampil");
			});
		});
	</script>
