<footer>
	<p>&copy;
	 	<a style="color: black;" href="mailto:wahyudi.sigit@gmail.com">esweisme</a> 2019. 
		<!-- <a style="color: black;" href="https://statcounter.com/p12099639/?guest=1">stats</a> -->
		<a style="color: black;" href="#">rss</a>
		<br>
		Apa yang dari &#128151; akan sampai ke &#128151;.
	</p>
</footer>

	<script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
	<!-- <script type="text/javascript">
		var sc_project=12099639; 
		var sc_invisible=0; 
		var sc_security="d3fe7165"; 
		var scJsHost = "https://";
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
	</script> -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('.tombol').click(function(){
				$('nav').toggleClass("menu-tampil");
			});
		});
	</script>