<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
	<meta name="description" content='{{if eq .Kind "section" }}{{.Summary}}{{ else if .Description }}{{.Description}}{{ else }}{{.Site.Params.Description}}{{end}}'/>        

	<link href="/images/logo.JPG" rel="icon">
	<link rel="stylesheet" href="/css/style.css" >

	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="{{.Title}}">
	<meta itemprop="description" content="{{ if .Description }}{{.Description}}{{ else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description}}{{end}}">
	<meta itemprop="image" content="{{ .Site.BaseURL }}images/logo.JPG">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{.Title}}">
	<meta property="og:description" content="{{ if .Description }}{{.Description}}{{ else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description}}{{end}}">
	<meta property="og:image" content="{{ .Site.BaseURL }}images/logo.JPG">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{.Title}}">
	<meta name="twitter:description" content="{{ if .Description }}{{.Description}}{{ else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description}}{{end}}">
	<meta name="twitter:image" content="{{ .Site.BaseURL }}images/logo.JPG">
</head>